/************************************************************************
INDEX HEADER
************************************************************************/

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

ul {
	margin: 0;
}

#gallery {
	list-style: none;
}
#gallery li {
	float: left;
	width: 45%;
	margin: 2.5%;
}
#gallery p {
	text-align: center;
	font-size: 40px;
}

#wrapper {
	background: orange;
	/* max-width: 940px; */
	padding: 5%;
	margin: 0 auto;
}
li {
	max-width: 940px;
}

h1, h2 {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	text-align: center;
	max-width: 100%;
	height: 50px;
	padding: 0;
}

header {
	background-color:#1F7A7A;
	text-align: center;
}
nav {
	background-color:#2F8C9D;
	font-family: 'Raleway', sans-serif;
	font-size: 1.75em;
}

nav a {
	color: #fff;
}
nav li {
	display: inline-block;
	padding: 20px;
} 

/* section li {
	display: inline-block;
} */
nav a:hover{
	color:#456734;
}
#pineapple {
	float: left;
}
nav a.selected {
	color:blue;
}

p {
	font-weight: bolder;
	line-height: 1.2em;
}

.social-icon {
	margin: 0;
	padding: 5px;
	height: 20px;
	width: 20px;
}



#rectangle {
	float: right;
}

#header {
	background-color: #456734;
}

